<%# overrideen from sufia to use our custom collection thumbnail instead
    of a font icon.
    https://github.com/projecthydra/sufia/blob/30fb2ad6f5402dbc541eb84c969ad4fa6dea1f3b/app/views/collections/_media_display.html.erb
%>

<div class="collection-show-media">
  <%= image_tag presenter.thumbnail_src %>
</div>
