<div class="date-editor">
  <%= f.input key, as: :time_span, wrapper_html: {class: 'time-span form-group'}, input_html: { class: 'form-control', data: {name: 'date_of_work'}}, required: f.object.required?(key) %>
</div>
