
        <div class="form-instructions">
          <%# CHF remove this; pretty IR-y. <p>The more descriptive information you provide the better we can serve your needs.</p> %>
        </div>
        <div class="base-terms">
          <%# chf: :maker encompasses a bunch of fields we don't want repeated. %>
          <%# chf: However, we include them as hidden fields or else they can't be removed %>
          <% f.object.hidden_field_terms.each do |term| %>
            <%= "<input type=\"hidden\" name=\"generic_work[#{term}][]\" id=\"generic_work_#{term}\" value class=\"partial\">".html_safe %>
          <% end %>
          <% f.object.primary_terms.each do |term| %>
            <%= render_edit_field_partial(term, f: f) %>
          <% end %>
        </div>
        <%# CHF remove 'additional fields' box now that we have the save widget %>
        <%# link_to t('sufia.works.edit.additional_fields'),
                    '#extended-terms',
                    class: 'btn btn-default additional-fields',
                    data: { toggle: 'collapse' },
                    role: "button",
                    'aria-expanded'=> "false",
                    'aria-controls'=> "extended-terms" %>
        <div id="extended-terms">
          <%= render 'form_media', f: f %>
          <% f.object.secondary_terms.each do |term| %>
            <%= render_edit_field_partial(term, f: f) %>
          <% end %>
        </div>

