<div class="modal fade preview-modal" id="preview-<%= preview_id %>" tabindex='-1'>
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
       <%= image_tag main_app.download_path(preview_id, file: "jpeg") %>
     </div>
     <div class="modal-footer">
       <p><%= presenter.title.first %></p>
     </div>
   </div>
  </div>
</div>
</div>
