<%# this is a very temporary placeholder %>
<h2>Some selected areas of interest...</h2>
<ul>
<% CHF::SyntheticCategory.all.each do |category| %>
  <li>
    <%= link_to category.title, synthetic_category_path(category) %>
  </li>
<% end %>
</ul>
