<footer id="footer" role="contentinfo">
  <div class="footerrow footerlogo">
    <%= link_to "https://www.chemheritage.org", title: "Chemical Heritage Foundation Main Site" do %>
      <%= image_tag "chf_logo_above_name_white.svg", alt: "Chemical Heritage Foundation logo" %>
    <% end %>
  </div>

  <div class="footerrow">
    <div class="footeraddresses">
      <div class="firstaddress">
        <strong>Library • Museum • Center for Scholars</strong><br>315 Chestnut Street<br>Philadelphia, PA 19106<br>215.925.2222
      </div>
      <div class="secondaddress">
        <strong>CHF West</strong><br>2120 University Avenue<br>Berkeley, CA 94704<br>415.798.2104
      </div>
    </div>
  </div>

  <div class="footerrow">
    <div class="footersocialicons">
      <div class="footersocialicon"><a href="https://www.facebook.com/ChemHeritage" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></div>
      <div class="footersocialicon"><a href="https://twitter.com/chemheritage" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
      <div class="footersocialicon"><a href="https://vimeo.com/chemheritage" target="_blank"><i class="fa fa-vimeo" aria-hidden="true"></i></a></div>
      <div class="footersocialicon"><a href="https://www.youtube.com/c/chemheritageorg" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></div>
            <div class="footersocialicon"><a href="https://www.linkedin.com/company/chemical-heritage-foundation" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></div>
      <div class="footersocialicon"><a href="https://www.pinterest.com/chemheritage/" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></div>
      <div class="footersocialicon"><a href="https://www.instagram.com/chemheritage" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
    </div>
  </div>
</footer>
