/* old, reconsider with new palette? */
//$brand-highlight-color: #f15c2b; // an orange used on (old) Distillations website, perhaps use as an alterante highlight sitewide
$special-label-muted-color: #888;


/* rebrand colors */
$brand-dark-blue: #050939; // does not actually match brand, fix?
$brand-link-light-blue: #76c3d4;
$brand-bright-green: #a6e5d8;
$brand-grey-bg-color: #f9f9f9; // does not match brand, no suitable color in brand
$brand-red: #d8262e;
$brand-yellow: #dbe341;
$brand-blue: #76c3d4;

$brand-sans-serif: 'adelle-sans';
$brand-serif: 'abril-text';

// are we using the condensed version by mistake? Why do we need so much spacing
// for it to look reasonable?
$small-caps-letter-spacing: 0.06em;


$brand-highlight-color: $brand-red;
$bg-lightly-shaded: $brand-grey-bg-color;
$brand-btn-alt-bg: $brand-bright-green;
$brand-alt-header-font: $brand-sans-serif, sans-serif;
$brand-alt-header-weight: 700;
// should be lighter than normal muted, cause it's bolded a bit and such

// Maximum line length we judge to be readable at standard base font size.
// Used to constrain some block text areas on large screens.
$max-readable-width: 565px;
$long-max-readable-width:  725px; // unclear how readable it really is, but we do it sometimes anyway

// adelle-sans has a 600 semi-bold available. 700 is standard bold. 500 seems to be the same as 400=normal.
$semi-bold-weight: 600;

// via experimentation, on search results page larger than this the
// results column text is way too wide for reading text.
$chf-fluid-max-width: 1300px;

// Bootstrap 3.x overrides
$brand-success: $brand-bright-green;
$brand-info: $brand-blue;
$brand-danger: $brand-red;
$brand-warning: $brand-yellow;
$line-height-base: 1.6; // closer to chemheritage.org brand, and more readable than BS default 1.428571429
$brand-inverse: $brand-dark-blue;
$brand-primary: $brand-link-light-blue;
$link-hover-color: $brand-dark-blue;
$font-family-sans-serif: $brand-sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$navbar-inverse-link-color: $brand-bright-green;


$well-bg: $brand-grey-bg-color;
$navbar-default-bg: $brand-grey-bg-color;
$panel-default-heading-bg: $brand-grey-bg-color;
$panel-footer-bg: $brand-grey-bg-color;
$breadcrumb-bg: $brand-grey-bg-color;

// border radius matching some elements on chemheritage.org, larger than bootstrap default
$btn-border-radius-base:        9px !default;
$btn-border-radius-large:       9px !default;
$btn-border-radius-small:       9px !default;

$transparent-background: rgba(0,0,0,0.25);

@mixin all-white-links {
  a,
  a:link,
  a:active,
  a:visited,
  a:hover {
    color: white;
    text-decoration: none;
    opacity: 1;
  }
}

%special-label{
  font-family: $brand-sans-serif;
  font-weight: $semi-bold-weight;
  text-transform: uppercase;
  font-size: $font_size_base - 2px;
  line-height: normal;
  letter-spacing: $small-caps-letter-spacing;
  a:not(:focus):not(:hover) {
    color: #888;
  }
}

%text-font {
  font-family: $brand-serif;
  // 16px in abril is really small, 17px looks more like 16px in other fonts.
  font-size: 17px;
}

