.homepage-content-wrapper {
  margin-top: -20px; /* overcome the bottom margin on navbar */
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0 !important; /* overcome id-based css */

  .search-container,
  .featured-collection-callouts {
    padding-bottom: 30px;
  }

  figure.hero-image {
    position: relative; /* allow absolute positioning of caption */
    padding-left: 0; /* overcome the padding on grid columns */
    padding-right: 0; /* overcome the padding on grid columns */
    img {
      width: 100%;
    }
    figcaption {
      position: absolute;
      bottom: 0;
      right: 0;
      background: $transparent-background;
      padding: 5px 10px;
      @include all-white-links;
      font-family: "Open Sans";
      font-weight: 300;
      font-style: italic;
    }
  }

  .chf-callout-button {
    width: 100%;
  }

  .search-container {
    padding-left: 5px;
    padding-right: 5px;
    @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
      margin-top: 30px;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      margin: 30px 20px 0;
    }
    @media (min-width: $screen-md-min) {
      margin: 20% 15% 0 8%;
    }
  }

  .search-callouts {
    .input-group {
      height: 46px;
      input.q, button {
        height: 100%
      }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      /* vertically line up with header when side-by-side */
      /* stacks with searchbar margin to equal 20 */
      margin-top: 13px;
    }
  }

  $categories-box-width: 350px;
  $categories-box-height: 350px;
  $categories-box-margin: 59px;

  .categories-list {
    padding-top: 34px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .collection {
      position: relative;
      width: $categories-box-width;
      height: $categories-box-height;
      margin: $categories-box-margin;

      @include all-white-links;

      .collection-title-wrapper {
        /* overlay on image */
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 56px;
        background-color: $brand-inverse;
        padding: 10px;

        .collection-title {
          text-align: center;
          font-family: "Open Sans";
          font-weight: 700;
          font-size: 18px;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }

  .featured-collection-callouts {
    padding-left: 5px;
    padding-right: 5px;
  }
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    .featured-collection-callouts {
      margin-top: 30px;
    }
  }
  @media (min-width: $screen-sm-min) {
    .featured-collection-container {
      display: flex;
      align-items: center;
      .featured-collection-callouts {
        margin-left: 10%;
        margin-right: 2%;
        /*margin: 0 2% 0 10%;*/
        h2 {
          margin-top: 0;
        }
      }
    }
  }

  .featured-collection-image {
    padding: 0;
    img {
      width: 100%;
    }
  }
}
