/* Overrides a bootstrap style */
.navbar-inverse {
  background-color: $brand-inverse;
}

/* staff navbar has an effective margin of 15
   slightly wider than masthead navbar */
.staff-navbar {
  /* ensure dropdowns show above other navbars */
  /* (masthead coded upstream at 1001) */
  z-index: 1002;
  /* offset left margin of first button */
  margin-left: -15px;

  &.navbar-inverse .navbar-nav > li > a:not(:hover):not(:focus) {
    color: lighten($gray-light, 15%);
  }
}

/* masthead navbar has an effective margin of 20 */
.masthead {
  .container-fluid {
    display: flex;
    justify-content: space-between;
    &:after, &:before  {
      content: none;
    }
  }

  min-height: 90px;
  padding: 16px 5px 16px 20px;
  font-size: 18px;
  font-weight: 300;

  background-image: asset-url("scihist_top_nav_sym.png");
  background-repeat: no-repeat;
  background-position: right top;

  .navbar-brand {
    height: 176px;
    padding: 0;
  }

  #masthead-logo-image {
    //height: 40px;
    //margin: 0;
  }
}

.scihist-navbar-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.masthead-application-name {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 30px;
  font-family: $brand-serif;
  font-weight: normal;
  line-height: normal;
}

.breadcrumbs-navbar-wrapper {
  margin-top: 0.5em;
  ul.breadcrumb {
    margin-bottom: 0;
  }
}

#searchbar label[for="filter_public_domain"] {
  font-weight: normal;
}
