// $thumb-horizontal-margin is defined in __variables.scss.

.show-page-audio-playlist-wrapper {
vertical-align: bottom;
margin: $thumb-horizontal-margin $thumb-horizontal-margin ($line-height-computed * 1.5) 0;
  .btn {
    @extend .btn-sm;
    border-radius: 2px;
  }
}

.show-page-audio-playlist-wrapper audio {
    width: 100%;
}

.current-track-label {
    font-size: 20px;
}

.mp3_download, .original_download {
    display:block;
    float:right;
    font-size: 12px;
    margin-right: 5px;
}

.track-listings {
    margin-block-start:   0em;
    margin-block-end:     0em;
    margin-inline-start:  0px;
    margin-inline-end:    0px;
    padding-inline-start: 0px;
}

.track_listing {
    display: block;
    list-style-type: none;

}

.track_listing a {
    font-family: "adelle-sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    display: block;
    min-height: 30px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    cursor: pointer;
}

.track_listing a:hover {
  background-color: #ddd;
}

.track_listing.currently_selected {
    font-weight: bold;
}

.now_playing_container {
    padding: 5px;
    border: 1px solid lightgrey;
}
