.show-page-audio-playlist-wrapper {
  margin-bottom: $line-height-computed * 1.5;

  h2.attribute-sub-head {
    margin-top: 0; // kinda ugly override sorry
    padding-top: 0;
  }

  .show-sub-head-body {
    // sorry for evil overrides of re-used class, we want the horizontal
    // edges to line up with hero thumb below, not sure why padding was there normally.
    padding-left: 0;
    padding-right: 0;
  }


  .now_playing_container {
    margin-bottom: $paragraph-spacer;
  }

  .now_playing_info {
    float: right;
    margin-bottom: $paragraph-spacer;
  }

  audio {
    width: 100%;
  }


  .track_listing {
    @extend %text-font;

    a {
      display: block; // 100% width bigger click target
      padding: 5px;
    }

    &.currently_selected {
      background-color: $brand-bright-green;
      color: $brand-dark-blue;
      a, a:link, a:visited, a:hover, a:active {
        color: $brand-dark-blue;
      }
    }
  }
}
