/* Remove brokenly styled numbers on search results */
ol.catalog {
  list-style: none;
}

// override sufia facet widget styles to be more brand-like, and generally neater
.facets {
  .panel-heading {
     border-radius: 0;
     margin-bottom: 0;
     h3 {
      font-size: $font-size-base;
      color: $brand-inverse;
      font-weight: 600;
      line-height: 1.4;
     }
   }
   .panel-heading.collapse-toggle .panel-title:after {
     padding-top: 4px;
   }

  .facet_limit {
    border-radius: 0;
    border-top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .panel-group .panel + .panel {
    margin-top: 0;
    margin-bottom: 0;
  }
  .top-panel-heading {
    margin: 0;
    background-color: $dark-navy;
    color: $bg-lightly-shaded;
    text-transform: uppercase;
    h2.facets-heading {
      margin: 0;
      font-weight: 600;
      font-size: $font-size-base;
      line-height: 1.4;
      letter-spacing: 0.01em;
     }
  }

  .facet-values {
    margin-bottom: 0;
  }

  .facets-toggle {
    margin-right: 0;
  }

  a.more_facets_link {
    display: block;
    margin-top: 15px;

    text-transform: uppercase;
    font-weight: 600;
    font-size: .8em;
    letter-spacing: 0.01em;
    color: $dark-navy;
  }
}

@media (max-width: 768px) {
  #facets .top-panel-heading {
    border-radius: 0;
    margin-bottom: 0;
    h2 {
      line-height: 2.4;
    }
  }
}

ol.catalog {
  padding: 0;
}

// Actual results, restyled by us

.chf-results-list-item {
  display: flex;
  margin-bottom: 30px;

  .chf-results-list-item-thumb {
    width: 208px; // Should match ImageServiceHelper::BASE_WIDTHS[:standard]
    margin-right: 30px;
  }

  .chf-results-list-item-head {
    margin-top: 0;
    margin-bottom: 0;
    font-size: $font-size-h3;
    a {
      color: $brand-inverse;
      &:hover, &:focus {
        color: $link-hover-color;
      }
    }
  }

  .chf-results-list-item-genre {
    @extend %special-label;
  }

  .chf-results-list-item-additional-titles {
    ul {
      @extend .list-unstyled;
      font-size: $font-size-h4;
      font-family: $brand-alt-header-font;
    }
  }

  .chf-results-list-values {
    margin-top: ($line-height-computed / 2);
  }

  .attribute-label {
    @extend %special-label;
    margin-right: 0.66em;
  }
}

