.nav-search-form {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 16px - $padding-large-vertical;
  max-width: 470px;
  @media (max-width: $grid-float-breakpoint-max) {
    padding: $nav-link-padding;
    max-width: 100%;
  }

  // hacky way to give this bigger radius than most of our inputs
  #search-field-header {
    border-top-left-radius: $btn-border-radius-large;
    border-bottom-left-radius: $btn-border-radius-large;
  }
  .input-group button {
    border-top-right-radius: $btn-border-radius-large;
    border-bottom-right-radius: $btn-border-radius-large;
  }
}

.search-options {
  // will slide open with JS at non-broken down sizes
  @media (min-width: $grid-float-breakpoint-max + 1) {
    display: none;
    position: absolute;
    width: 100%;
  }

  background: white;
  border: 1px solid $input-border;
  box-shadow: 0 0 100px black;
  border-radius: 0 0 $btn-border-radius-large $btn-border-radius-large;

  .form-group {
    // make slide out look better using padding instead of margin, plus
    // get everything nicely spaced.
    margin: 0;
    padding: $form-group-margin-bottom;
  }

  h3, label {
    @extend %special-label;
    display: inline;
    margin: 0 .66em 0 0;
    input[type="checkbox"] {
      margin-top: 6px;
    }
  }
  .search-option-year {
    display: inline;
    width: 9ch;
  }
}
