.nav-search-form {
  position: relative;
}

.nav-search-text {
  margin-bottom: 0;
}

.search-options {
  // will slide open with JS
  //display: none;
  position: absolute;
  width: 100%;

  background: white;
  border: 1px solid $input-border;
  border-top: none;
  border-radius: 0 0 $input-border-radius-small $input-border-radius-small;

  .form-group {
    // make slide out look better using padding instead of margin, plus
    // get everything nicely spaced.
    margin: 0;
    padding: $form-group-margin-bottom;
    &:first-child {
      padding-top: $form-group-margin-bottom * 2;
    }
    &:last-child {
      padding-bottom: $form-group-margin-bottom * 2;
    }
  }

  h3 {
    @extend .h5;
    @extend %special-label;
    display: inline;
    margin: 0 .66em 0 0;
  }
  .search-option-year {
    display: inline;
    width: 9ch;
  }
}
