// There seems to be no existing css class allowing us to scope
// this stuff just to generic work 'show' page. If there was, I'd use it.
// Perhaps it should be added later.

.additional-titles {
  h2 {
    @extend h4;
  }
}

.large-rights-statement {
  margin-top: 15px;

  @include clearfix;

  .rights-statement-logo {
    width: 40px;
    float: left;
    margin-right: 0.5em;
  }
  .rights-statement-label {
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1
  }

}
