# This is a sample config file that points to a solr server for each environment
development:
  url: http://127.0.0.1:8983/solr/collection1
test:
  url: http://127.0.0.1:8983/solr/test
production:
  url: http://your.production.server:8080/bl_solr/core0
