# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

common: &common
  # Sierra connection, see https://chemheritage.atlassian.net/wiki/spaces/HDCSD/pages/13828102/Sierra+API
  sierra_host: https://othmerlib.sciencehistory.org
  sierra_key: # get from ansible, or another developer, or
  sierra_secret: # get from ansible, or another developer

development:
  <<: *common
  secret_key_base: d18e9976e68733379356fcb440faff44c212902d4bca1f09d7befa88fa5ba3cb7ba3dd3a00522105b1ea4337c14899de3c971e0fcece6d0c7ca0aec2bad880c8

test:
  sierra_key: MY_KEY
  sierra_secret: MY_SECRET
  secret_key_base: d18e9976e68733379356fcb440faff44c212902d4bca1f09d7befa88fa5ba3cb7ba3dd3a00522105b1ea4337c14899de3c971e0fcece6d0c7ca0aec2bad880c8

production:
  <<: *common
  secret_key_base: d18e9976e68733379356fcb440faff44c212902d4bca1f09d7befa88fa5ba3cb7ba3dd3a00522105b1ea4337c14899de3c971e0fcece6d0c7ca0aec2bad880c8
