<h1>User Support</h1>
 <h2>Service Inquiries and Requests</h2>
 <p>
 Frequently Asked Questions are forthcoming. Please submit questions or problems via the <%= link_to 'Contact Form', sufia.contact_form_index_path %>.
 </p>
