// overrides for maker field
.form-group {
  .double-input {
    select {
      width: 40%;
    }
    input {
      width: 60%;
    }
  }
  .row {
    margin: 0;
    .col-md-5, .col-md-3, .col-md-4, .col-md-9 {
      padding: 0;
      label {
        padding-left: 15px;
      }
    }
  }
}
.generic_file_physical_container {
  .listing {
    max-width: 40em;
  }
}
