// overrides for maker field
.form-group {
  .double-input {
    select {
      width: 40%;
    }
    input {
      width: 60%;
    }
  }
  .row {
    margin: 0;
    .col-md-5, .col-md-3, .col-md-4, .col-md-6, .col-md-7, .col-md-9 {
      padding: 0;
      label {
        padding-left: 15px;
      }
    }
  }
}
.generic_work_physical_container {
  .listing {
    max-width: 40em;
  }
}

// Show page
// fit the preview modal to the contained image
.preview-modal .modal-dialog {
  display: table;
  width: 1%;
}
// this bizarre hack keeps long titles from making the modal wider
.preview-modal .modal-body {
  height: auto;
  overflow: hidden;
}
// Fix clickable whitespace on thumbnails
.representative-media {
  display: inline !important;
}

// make sure our larger thumbs don't overflow
img.representative-media {
  max-width: 100%;
}
