// overrides for maker field
.listing {
  .double-input {
    select {
      width: 40%;
    }
    input {
      width: 60%;
    }
  }
  .row {
    margin: 0;
    .col-md-2, .col-md-3, .col-md-4, .col-md-7 {
      padding: 0;
    }
  }
}
