/* TODO move this into work-show.css */
.now_playing_info {
    font-size: 20px;
}

.track-listings {
    font-family: "adelle-sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-collapse:separate;
    border-spacing:10px 10px;
}

.track_listing .title {
    cursor: pointer;
}

.track_listing {
    min-height: 30px;
}

.track_listing.currently_selected {
    font-weight: bold;
}

.download-audio-link {
    background-color: #eee;
    margin: 5px;
    padding: 5px;
}

.now_playing_container {
    background-color: #eee;
    padding: 5px;
}