<%# overrides https://github.com/projecthydra/sufia/blob/v7.3.0/app/views/_logo.html.erb %>
<a id="logo" class="navbar-brand" href="https://www.sciencehistory.org" data-no-turbolink="true">
  <% unless false && CHF::Env.staging? %> <%# temporarily show logo even on staging %>
    <%= image_tag "partial-mark-75rotate-80.png", class: "small-masthead-only masthead-logo-small", alt: "Science History Institute" %>
    <%= image_tag "sci_logo-webheader_1x.png",
        srcset:  "#{image_url 'sci_logo-webheader_1x.png'} 1x, #{image_url 'sci_logo-webheader_2x.png'} 2x",
        class: "large-masthead-only masthead-logo-large",
        alt: "Science History Institute" %>
  <% else %>
    NON-PRODUCTION DEMO
  <% end %>
</a>
